@use "sass:color";

$category-font-size: 1rem;

@mixin button-base {
  font-weight: 600;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@mixin button-size($small: false) {
  @if $small {
    width: auto;
    display: inline-block;
    font-size: $category-font-size;
    padding: 0.25rem 0.75rem;
    margin-top: 0;
  } @else {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
}

@mixin button-color($color: blue) {
  @if $color == blue {
    $base-blue: #3b82f6;
    background-color: color.adjust($base-blue, $lightness: -5%);

    &:hover:not(:disabled) {
      background-color: color.adjust($base-blue, $lightness: -10%);
    }

    @media (prefers-color-scheme: dark) {
      background-color: color.adjust($base-blue, $lightness: -20%);

      &:hover:not(:disabled) {
        background-color: color.adjust($base-blue, $lightness: -25%);
      }
    }
  } @else if $color == green {
    $base-green: #22c55e;
    background-color: color.adjust($base-green, $lightness: 10%);

    &:hover:not(:disabled) {
      background-color: $base-green;
    }

    @media (prefers-color-scheme: dark) {
      background-color: color.adjust($base-green, $lightness: -15%);

      &:hover:not(:disabled) {
        background-color: color.adjust($base-green, $lightness: -20%);
      }
    }
  } @else if $color == red {
    $base-red: #ef4444;
    background-color: color.adjust($base-red, $lightness: 10%);

    &:hover:not(:disabled) {
      background-color: $base-red;
    }

    @media (prefers-color-scheme: dark) {
      background-color: color.adjust($base-red, $lightness: -15%);

      &:hover:not(:disabled) {
        background-color: color.adjust($base-red, $lightness: -20%);
      }
    }
  } @else if $color == grey {
    $base-grey: #6b7280;
    background-color: color.adjust($base-grey, $lightness: 10%);

    &:hover:not(:disabled) {
      background-color: $base-grey;
    }

    @media (prefers-color-scheme: dark) {
      background-color: color.adjust($base-grey, $lightness: -10%);

      &:hover:not(:disabled) {
        background-color: color.adjust($base-grey, $lightness: -15%);
      }
    }
  } @else if $color == teal {
    $base-teal: #14b8a6;
    background-color: color.adjust($base-teal, $lightness: 5%);

    &:hover:not(:disabled) {
      background-color: $base-teal;
    }

    @media (prefers-color-scheme: dark) {
      background-color: color.adjust($base-teal, $lightness: -15%);

      &:hover:not(:disabled) {
        background-color: color.adjust($base-teal, $lightness: -20%);
      }
    }
  }
}

.btn-blue {
  @include button-base;
  @include button-size(false);
  @include button-color(blue);
}

.btn-green {
  @include button-base;
  @include button-size(false);
  @include button-color(green);
}

.btn-red {
  @include button-base;
  @include button-size(false);
  @include button-color(red);
}

.btn-grey {
  @include button-base;
  @include button-size(false);
  @include button-color(grey);
}

.btn-grey-small {
  @include button-base;
  @include button-size(true);
  @include button-color(grey);
}

.btn-teal {
  @include button-base;
  @include button-size(false);
  @include button-color(teal);
}

.btn-small {
  @include button-size(true);
}
