@use "sass:color";

$base-blue: color.adjust(#6b7280, $lightness: -35%);

$darken-step: 2.5%;

@function card-color($level) {
  @return color.adjust($base-blue, $lightness: -($darken-step * $level));
}

// Base card attributes
.card,
[class^="card-"],
[class*=" card-"] {
  border-radius: 0.5rem;
  background-color: card-color(1);
  padding-inline: 0.5rem;
  padding-top: 1rem;
}

.card {
  &-login {
    background-color: color.adjust($base-blue, $lightness: -45%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  &-categories {
    background-color: card-color(3);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    padding-top: 0rem;
    > * {
      margin: 0.5rem;
    }
  }
  &-category {
    background-color: card-color(4);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    // margin: 0.5rem;
  }
  &-links {
    background-color: card-color(3);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-top: 0rem;
  }
}

.center-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
