@use "sass:color";
@use "base";

$base-blue: color.adjust(#6b7280, $lightness: -35%);

$darken-step: 2.5%;

@function card-color($level) {
  @return color.adjust($base-blue, $lightness: -($darken-step * $level));
}

@mixin card-bg-step($level) {
  @if $level < 1 or $level > 4 {
    @error "card-bg-step only supports levels 1 through 4.";
  }

  background-color: card-color($level);
}

.background-1 {
  @include card-bg-step(1);
}

.background-2 {
  @include card-bg-step(2);
}

.background-3 {
  @include card-bg-step(3);
}

.background-4 {
  @include card-bg-step(4);
}

// Base card attributes
.card,
[class^="card-"],
[class*=" card-"] {
  display: flex;
  flex-direction: column;
  @include card-bg-step(1);
  align-items: center;
  border-radius: 0.5rem;
  padding-inline: 0.5rem;

  padding-block: 1rem;
  box-sizing: border-box;
  gap: 1rem;
}

.card {
  &-main {
    gap: 1rem;
  }

  &-subpage {
    align-items: start;
    @include card-bg-step(2);
  }

  &-login {
    @include card-bg-step(2);
    display: flex;
    align-items: stretch;
    padding: 1rem;
    max-width: var(--card-login-max-width, "");
    width: 50%;
  }

  &-categories {
    @include card-bg-step(3);
    align-items: stretch;
    padding-block: 0.1rem;
    > * {
      margin: 0.1rem;
    }
    gap: 0.1rem;
  }
  &-category {
    flex-direction: row;
    @include card-bg-step(4);
    gap: 0.5rem;
    padding: 0.5rem;
  }

  &-links {
    width: 100%;
    @include card-bg-step(2);
    flex-direction: row;
    gap: 0.5rem;
    padding-block: 0rem;
    justify-content: space-around;
  }

  &-product {
    display: grid;
    @include card-bg-step(3);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas:
      "t p"
      "c l"
      "d b"
      "s .";
    gap: 1rem;
    width: 100%;
    > form {
      display: contents;
    }
  }
}

.extra-padding {
  align-self: center;
}

.grid-t {
  grid-area: t;
  @include base.inline;
}

.grid-p {
  grid-area: p;
}

.grid-c {
  grid-area: c;
  @include base.inline;
}

.grid-l {
  grid-area: l;
}

.grid-d {
  grid-area: d;
  align-self: stretch;
  display: flex;
  flex-direction: column;

  textarea {
    flex-grow: 1;
  }
}

.grid-b {
  grid-area: b;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  table {
    flex-grow: 1;
  }
}

.grid-s {
  grid-area: s;
}

.center-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
