@use "positions";
@use "colors";

// Base card attributes
.card,
[class^="card-"],
[class*=" card-"] {
  display: flex;
  flex-direction: column;
  @include colors.card-bg-step(1);
  align-items: center;
  border-radius: 0.5rem;
  padding-inline: 0.5rem;

  padding-block: 1rem;
  box-sizing: border-box;
  gap: 1rem;
}

.card {
  &-main {
    gap: 1rem;
  }

  &-subpage {
    align-items: start;
    @include colors.card-bg-step(2);
  }

  &-login {
    @include colors.card-bg-step(2);
    display: flex;
    align-items: stretch;
    padding: 1rem;
    max-width: var(--card-login-max-width, "");
  }

  &-categories {
    @include colors.card-bg-step(3);
    align-items: stretch;
    padding-block: 0.1rem;
    > * {
      margin: 0.1rem;
    }
    gap: 0.1rem;
  }
  &-category {
    flex-direction: row;
    @include colors.card-bg-step(4);
    gap: 0.5rem;
    padding: 0.5rem;
    @include colors.card-inset-shadow();
  }

  &-links {
    width: 100%;
    @include colors.card-bg-step(2);
    flex-direction: row;
    gap: 0.5rem;
    padding-block: 0rem;
    justify-content: space-around;
  }

  &-product {
    display: grid;
    @include colors.card-bg-step(3);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas:
      "t p"
      "c l"
      "d b"
      "s .";
    gap: 1rem;
    width: 100%;
    > form {
      display: contents;
    }
    @include colors.card-inset-shadow();
  }

  &-product-info {
    display: grid;
    @include colors.card-bg-step(3);
    grid-template-columns: minmax(0, 3fr) minmax(0, 2fr) minmax(0, 2fr);
    gap: 1rem;
    width: 100%;
    align-items: center;
    @include colors.card-inset-shadow();
  }
  &-statistics {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    gap: 1rem;
    overflow: auto;
  }
}

.grid-t {
  grid-area: t;
  @include positions.inline;
}

.grid-p {
  grid-area: p;
}

.grid-c {
  grid-area: c;
  @include positions.inline;
}

.grid-l {
  grid-area: l;
}

.grid-d {
  grid-area: d;
  align-self: stretch;
  display: flex;
  flex-direction: column;

  textarea {
    flex-grow: 1;
  }
}

.grid-b {
  grid-area: b;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  table {
    flex-grow: 1;
  }
}

.grid-s {
  grid-area: s;
}

.chart-wrapper {
  @include colors.card-bg-step(2);
  width: 100%;
  height: 100%;
  min-height: 300px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.card-product-info .product-image-cell {
  min-height: 0;
  overflow: hidden;
  position: relative;
}

.card-product-info .product-image-cell img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  // max-width: 100%;
  // max-height: 100%;
  // object-fit: fill !important;
  // object-fit: cover;
  position: absolute;
  // inset: 0;
  // display: block;
}
