.center-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

@mixin inline {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.inline {
  @include inline;
}

.user-select {
  align-self: start;
}

.link-center {
  display: block;
  text-align: center;
}

.text-center {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
